* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: system-ui;
    background-color: #93BFCF;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none;
}

.card {
    padding: 30px;
    text-align: center;
}


.card .poke {
    --after-bg-color: #6096B4;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 5px 20px 0px rgba(83,127,231,0.75);
}
.card .poke h2 {
    width: 280px;
    padding: 20px;
}
.card .poke::after {
    position: absolute;
    content: '';
    width: 360px;
    height: 360px;
    background-color: var(--after-bg-color);
    top: -220px;
    left: -20px;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card .poke .hp {
    background-color: white;
    width: fit-content;
    padding: 8px 15px;
    margin-left: 210px;
    font-size: 17px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.card .poke .hp span {
    font-weight: bold;
    font-size: 13px;
}
.card .poke img {
    width: 200px;
}


.card .poke h3 {
    text-align: center;
    font-size: 25px;
    margin: 10px auto 0;
    max-width: 200px;
}
.card .poke .types {
    display: flex;
}
.card .poke p {
    background-color: var(--after-bg-color);
    width: fit-content;
    margin: 20px auto 10px;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 20px;
    color: #eee;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card .poke ul {
    max-width: 280px;
    display: flex;
    gap: 45px;
    padding: 10px 0;
}

.card .poke .abilities li {
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #222;
}
.card .poke .abilities li span {
    font-size: 16px;
    font-weight: 500;
    color: #555;
}
.card .generate {
    margin-top: 20px;
    border: none;
    outline: none;
    padding: 15px 45px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}