* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: system-ui;
    background-color: #4F4557;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background-color: #393646;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.Emoji {
    font-size: 180px;
    text-align: center;
}
.joke {
    max-width: 520px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 22px;
    animation-name: opacity;
    animation-duration: 1s;
    animation-timing-function: linear;
    opacity: 0;
}

.fade {
    opacity: 1;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -ms-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
}

.randomJoke {
    color: #111;
    display: block;
    margin: 20px auto 0;
    padding: 10px 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #6D5D6E;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.randomJoke:hover {
    background-color: black;
    color: white;
}